<div class="col-10 offset-1 about">
  <h1> About Splurty</h1>


  <p>
    Splurty was built by <a target="_blank" href="https://dane-schrank.netlify.com/">Dane</a>, a beginning web developer looking to grow into a successful full stack developer.
  </p>
  <br />
  <p>

  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

<br>
<br>
<br>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'dane.jpeg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center"> Dane Schrank</h2>
      <br />
      <p>
        Dane is a veteran pool maintenance specialist looking to expaind his horizons and dive deep into the web developer universe.
      </p>
      <br>
      <br>
      <br>
    </div>
  </div>
  <br class="clear" />




</div>