@font-face {
    font-family: 'walkway_boldregular';
    src: font_url('walkway_bold-webfont.woff2') format('woff2'),
         font_url('walkway_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'walkway_oblique_boldregular';
    src: font_url('walkway_oblique_bold-webfont.woff2') format('woff2'),
         font_url('walkway_oblique_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}